/target/
/.idea/

# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\intellij-workspace\rustAdvent\.idea/dataSources/
/dataSources.local.xml


*.iml
